# Default ignored files
/shelf/
/workspace.xml
/vcs.xml
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/inspectionProfiles/Project_Default.xml
/YouTube_Data_Harvesting_and_Warehousing.iml
